@charset "utf-8";
body {
    background-color:black;
    color: rgb(68, 165, 250);
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
h2 {
    font-weight: 500;
}
h3 {
    font-style: italic;
}
p {
    line-height: 500%;
}
h4 {
    text-align: center;
}
h5 {
    text-indent: 10%;
}
h6 {
    text-shadow: 1px;
}
