@charset "utf-8";

main {
    padding: 3em;
}

img {
    height: 340px;
    width: 620px;
    
}

ul {
    font-size: 1.4em;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

p {
    font-size: 1.4em;
    font-weight: bold;
    font-family: cursive;
    text-indent: 3em;
}

h1 {
    background-color: rgb(226, 13, 13);
    text-align: center;
    line-height: 150%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 4px 4px 5px #cccccc;
    color: rgb(0, 0, 0);
    border: 3px dashed #000000;
}

h2 {
    background-color: rgb(10, 10, 10);
    color: rgb(248, 0, 0);
    border: 4px solid rgb(226, 13, 13);
    text-indent: 0.5em;
}

figcaption {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    font-size: 1.6em;
    text-shadow: 1px 10px 6px #fa3737;
    background-color: #000000;
    color: #e4e4e4;

}
figure{
    width: 620px;
    padding: 5px;
    border: 3px solid rgb(248, 19, 19);
}
footer {
    text-align: center;
    font-size: 0.75em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
}

.modificado {
    color: rgb(128, 131, 163);
}

a {
    color: rgb(129, 127, 127);
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    
}

body {
    background-image: url('https://img.freepik.com/fotos-gratis/mesa-de-madeira-vazia-com-fumaca-flutuar-sobre-fundo-escuro_68495-135.jpg?size=626&ext=jpg&ga=GA1.1.1803370368.1649171538');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    color: rgb(242, 246, 250);
    background: op;
}

section.imagem {
    display: flex;
    justify-content: center;
}

.opacidade {
    opacity: 0.5;
}
