@charset "utf-8";

* {
    margin: 1;
    padding: 0;
   }

#showcase {
    background-image: url('opacidadeimg.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    padding: 0 120px;
    text-align: center;
}

#showcase h1 {
    font-size: 50px;
    line-height: 1.2em;
    color: rgb(0, 0, 0);
    text-shadow: 3px 3px 5px rgb(255, 10, 10);
    font-family: 'Lobster', cursive;
    padding-top: 20px;
    text-align: center;
    margin-top: 0px;
}

#showcase ul, h2 {
    text-align: left;
    margin-top: 50px;
}

#showcase p {
    font-size: 28px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-style: oblique;
    margin-bottom: 23px;
    opacity: 0.6;
    font-weight: bold;
    border: 2px dashed rgb(0, 0, 0);
    text-align: center;
    border-radius: 20px;
}

#lista h2{
    color: #000;
    text-shadow: 3px 3px 5px rgb(255, 10, 10);
    font-size: 1.8em;
    font-family: 'Lobster', cursive;
    padding-top: 20px;
}
 #lista li {
     font-size: 1.2em;
     font-weight: bold;
     font-style: inherit;
     border: 2px solid rgb(255, 255, 255);
     padding: 5px;
 }


#showcase .btn {
    font-size: 20px;
    text-decoration: none;
    color: #080808;
    border: #000000 2px solid ;
    border-radius: 10px;
    padding: 10px 20px;
}


#comentario {
    background-color: #000000;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    font-style: italic;
    padding: 35px;
}

a {
    margin-right: 1.5em;
}

