@charset "utf-8";

body {
  color: rgb(0, 0, 0);
  padding: 2em;
  background-color: rgb(0, 0, 0);
}

.botao {
    padding: 15px;
}

.btn {
    text-decoration: none;
    color: #fc0d0d;
    margin-right: 1.5em;
    border: 7px;
    border-style: groove;
    font-weight: bold;
    font-size: 20px;
}

img {
    width: 320px;
    height: 170px;
}

#img0 {
    width: 200px;
    height: 120px;
    border: 2px dashed rgb(255, 254, 254);
}

.img1 {
    float: none;
}

.img2 {
    float: left;
}

.img3 {
    float: right;
}

.img4 {
    float: left;
}

.img5 {
    float: right;
}

figure {
    width: 320px;
    padding: 5px;
    border: 2px dashed #0f0f0f;
    margin-left: 0%;
    margin-right: 0%;
}

figcaption {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    font-size: 1.6em;
    text-shadow: 1px 10px 6px #fa3737;
    background-color: #000000;
    color: #e4e4e4;
}

fieldset {
    border: 1px dashed rgb(255, 255, 255);
    background-color: black;
    opacity: 0.9;
    background-image: url('opacidadeimg.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#final {
    padding: 5vh;
}

h2 {
    color: #000;
    text-shadow: 3px 3px 5px rgb(255, 10, 10);
    font-size: 1.8em;
    font-family: 'Lobster', cursive;
    text-align: center;
    border: 2px dashed rgb(0, 0, 0);
    background-color: #e4e4e4;
    opacity: 0.8;
    width: 49%;
    margin-left: 25%;
}

#lista li {
    font-size: 1.2em;
    font-weight: bold;
    font-style: inherit;
    border: 1px solid rgb(209, 209, 209);
    padding: 3px;
    text-shadow: 3px 3px 5px rgb(255, 0, 0);
    text-align: center;
    width: 35%;
    margin-left: 31%;
    color: rgb(238, 237, 237);
}

footer {
    font-weight: bold;
    font-size: small;
    font-style: italic;
    color: rgb(243, 232, 232);
}

.centro {
    padding-left: 28%;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

ul {
    font-weight: bold;
    font-style: italic;
    color: red;
    opacity: 0.8;
    font-size: 1.0em;
    background-color: #e4e4e4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

