@charset "utf-8";

img {
    width: 320px;
    height: 200px;
}

p::selection {
    background-color: darkseagreen;
    color: black;
}

::selection {
    background-color: red;
    color: aliceblue;
}

.img1 {
    float: left;
    width: 150px;
    height: 100px;
}
header {
    margin-bottom: 10%;
}

h1 {
    color: darkcyan;
    
    line-height: 200%;
}
