@charset "utf-8";

img {
    width: 520px;
    height: 350px;
    border: 2px solid rgb(240, 226, 226);
}

.img1 {
    float: left;
    width: 280px;
    height: 180px;
}

body {
    background-image: url('cidadeimg2.JPEG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: black;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 2em;
}

h2 {
    color: rgb(20, 124, 64);
    padding: 5vh;
    padding-left: 25%;
    margin-bottom: 7%;
}

a {
    text-decoration: none;
    color: black;
    border: 1px dashed black;
}

a:hover {
    background-color: darkolivegreen;
    opacity: 0.5;
}

header {
    margin-bottom: 2%;
}

p::selection {
    background-color: darkseagreen;
}

::selection {
    background-color: red;
    color: white;
}

p::first-letter {
    background-color: black;
    color: white;
    font-size: 190%;
}

li:nth-child(1) {
    background-color: green;
}
li:nth-child(4) {
    background-color: green;
}
li:nth-child(6) {
    background-color: green;
}
li:nth-child(8) {
    background-color: green;
}

